<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

<ul>

        <!--<ul th:each="cheese : ${cheeses}">-->
        <th:block th:each="cheese : ${cheeses}">
            <li th:text="${cheese.name}"></li>
            <!--<li th:text="${cheese.description}"></li>-->
            <!--<li th:text="${cheese.category.name}"></li>-->
        </th:block>
</ul>


        <!--<form method="post" style="max-width:600px;" th:object="${menu}">-->
            <!--<div class="form-group">-->
                <!--<label th:for="name">Name</label>-->
                <!--<input class="form-control" th:field="*{name}" />-->
                <!--<span th:errors="*{name}" class="error"></span>-->
            <!--</div>-->

            <!--<input type="submit" value="Add Menu" />-->
        <!--</form>-->

        <p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

    </body>
</html>